[Desktop Entry]
Encoding=UTF-8
Name=Crow Core
Comment=Connect to the Crow P2P Network
Comment[de]=Verbinde mit dem Crow peer-to-peer Netzwerk
Comment[fr]=Crow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Crow, eşten eşe kriptografik sanal para birimi
Exec=crow-qt %u
Terminal=false
Type=Application
Icon=crow128
MimeType=x-scheme-handler/crow;
Categories=Office;Finance;
