policy_module(crow, 1.100.1)

########################################
#
# Declarations
#

type crow_t;
type crow_exec_t;
init_daemon_domain(crow_t, crow_exec_t)

permissive crow_t;

type crow_initrc_exec_t;
init_script_file(crow_initrc_exec_t)

type crow_conf_t;
files_type(crow_conf_t)

type crow_var_lib_t;
files_type(crow_var_lib_t)

type crow_var_run_t;
files_type(crow_var_run_t)

type crow_port_t;
corenet_port(crow_port_t)

########################################
#
# crow local policy
#
allow crow_t self:process { fork };

allow crow_t self:fifo_file rw_fifo_file_perms;
allow crow_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(crow_t, crow_conf_t, crow_conf_t)
manage_files_pattern(crow_t, crow_conf_t, crow_conf_t)

manage_dirs_pattern(crow_t, crow_var_lib_t, crow_var_lib_t)
manage_files_pattern(crow_t, crow_var_lib_t, crow_var_lib_t)
files_var_lib_filetrans(crow_t, crow_var_lib_t, { dir file })

manage_dirs_pattern(crow_t, crow_var_run_t, crow_var_run_t)
manage_files_pattern(crow_t, crow_var_run_t, crow_var_run_t)

sysnet_dns_name_resolve(crow_t)
corenet_all_recvfrom_unlabeled(crow_t)

allow crow_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(crow_t)
corenet_tcp_sendrecv_generic_node(crow_t)
corenet_tcp_sendrecv_all_ports(crow_t)
corenet_tcp_bind_generic_node(crow_t)

gen_require(`
    type crow_port_t;
')
allow crow_t crow_port_t:tcp_socket name_bind;

gen_require(`
    type crow_port_t;
')
allow crow_t crow_port_t:tcp_socket name_connect;

domain_use_interactive_fds(crow_t)

files_read_etc_files(crow_t)

miscfiles_read_localization(crow_t)

sysnet_dns_name_resolve(crow_t)

allow crow_t crow_exec_t:file execute_no_trans;
allow crow_t self:process setsched;
corecmd_exec_ls(crow_t)
corenet_tcp_connect_http_port(crow_t)
dev_read_urand(crow_t)
fs_getattr_xattr_fs(crow_t)
kernel_read_system_state(crow_t)
