
## <summary>policy for crow</summary>


########################################
## <summary>
##	Transition to crow.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`crow_domtrans',`
	gen_require(`
		type crow_t, crow_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, crow_exec_t, crow_t)
')


########################################
## <summary>
##	Execute crow server in the crow domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crow_initrc_domtrans',`
	gen_require(`
		type crow_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, crow_initrc_exec_t)
')


########################################
## <summary>
##	Search crow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crow_search_lib',`
	gen_require(`
		type crow_var_lib_t;
	')

	allow $1 crow_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read crow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crow_read_lib_files',`
	gen_require(`
		type crow_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, crow_var_lib_t, crow_var_lib_t)
')

########################################
## <summary>
##	Manage crow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crow_manage_lib_files',`
	gen_require(`
		type crow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, crow_var_lib_t, crow_var_lib_t)
')

########################################
## <summary>
##	Manage crow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crow_manage_lib_dirs',`
	gen_require(`
		type crow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, crow_var_lib_t, crow_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a crow environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`crow_admin',`
	gen_require(`
		type crow_t;
		type crow_initrc_exec_t;
		type crow_var_lib_t;
	')

	allow $1 crow_t:process { ptrace signal_perms };
	ps_process_pattern($1, crow_t)

	crow_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 crow_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, crow_var_lib_t)

')

