[Unit]
Description=Crow's distributed currency daemon
After=network.target

[Service]
User=crow
Group=crow

Type=forking
PIDFile=/var/lib/crowd/crowd.pid
ExecStart=/usr/bin/crowd -daemon -pid=/var/lib/crowd/crowd.pid \
-conf=/etc/crow/crow.conf -datadir=/var/lib/crowd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
